*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.kotlin/errors/errors-1744822247872.log
/.kotlin/errors/errors-1744823848136.log
/.kotlin/errors/errors-1744823848993.log
/.kotlin/errors/errors-1744824394118.log
/.kotlin/errors/errors-1744825132898.log
/.kotlin/errors/errors-1744825133354.log
/.kotlin/errors/errors-1744825754612.log
/.kotlin/errors/errors-1744825755367.log
/.kotlin/errors/errors-1744827097356.log
/.kotlin/errors/errors-1744827315641.log
/.kotlin/errors/errors-1744827499037.log
/.idea/
